body{
	background: black;
	font-family: roboto;
	text-align: center;
}
 
h1{
	color: #fff;
}
 
.ketengah{
	margin: 10px auto;
	width: 1150px;
}
 
.kotak{
	background: #fcfcfc;
	width: 500px;
	float: left;
	height: 250px;
	margin: 30px;
}
 
.kotak1{
	background: linear-gradient(to right, #f44242, #1cb5e0);
	color: white;
	padding: 10rem 3rem;
	margin: 4rem;
	font-size: 20px;
	text-align: center;
}
 
 
.kotak2{
	background: linear-gradient(to right, orange, #ec38bc, #f44242, cyan);
	color: white;
	padding: 10rem 3rem;
	margin: 4rem;
	font-size: 20px;
	text-align: center;
}
 
.kotak3{
	background: radial-gradient(#ff00d0, #22c1c3);
	color: white;
	padding: 10rem 3rem;
	margin: 4rem;
	font-size: 20px;
	text-align: center;
	
}
.kotak4{
	background: radial-gradient(circle, #ff00d0, #00ffe9);
	color: white;
	padding: 10rem 3rem;
	margin: 4rem;
	font-size: 20px;
	text-align: center;
}
 
.kotak5{
	background: radial-gradient(circle at top right, #ff00d0, #22c1c3);
	color: white;
	padding: 10rem 3rem;
	margin: 4rem;
	font-size: 20px;
	text-align: center;
}
 
